@import 'common/sass/variables';
@import 'common/sass/mixins';

.ETHSimple {

  &-title {
    margin-top: 0px;
  }

  &-logo {
    float: right;
    max-width: 130px;
    width: 100%;
    height: 32px;
    background-image: url('~assets/images/ethsimple-banner.png');
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    margin-top: 3px;

    @include theme('dark') {
      background-image: url('~assets/images/ethsimple-banner-inverted.png');
    }
  }

  &-description {
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  &-description {
    font-weight: 300;
    font-size: 16px;
    padding: 2px 0 6px;
    text-align: left;
    line-height: 1.7;
  }

  &-field-title {
    position: relative;
    white-space: nowrap;

    &-help {
      margin-top: 3px;
      margin-left: 5px;
      pointer-events: none;
    }

    &-text {
      display: inline-block;
    }

    &-tooltip {
      display: inline-block;
      white-space: normal;
      @include show-tooltip-on-hover;
    }

    &-wrap {
      white-space: normal;
    }
  }
}

.vcenter-sm {
  @media (min-width: $screen-lg) {
    display: flex;
    align-items: center;
  }
}
